In [ ]:
name = 'Python' # string assignment within single quotes
name2 = "Python" # string assingment within double quotes
name3 = '''This is a a very long string and supports 
            multiline statements as well''' # string assingment within 3 single quotes
name4 = 'Hello! \"Rockstar Programmer\"' # string with escaped character sequence
print(type(name)) # <class 'str'>
print(type(name2)) # <class 'str'>
print(type(name3)) # <class 'str'>
print(type(name4)) # <class 'str'>

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:

first_name = 'Mike'
last_name = 'Tyson'
print(first_name + ' ' + last_name) # Mike Tyson

Mike Tyson

In [ ]:
user_name = 'John'
age = 40
print(user_name, age) # TypeError: can only concatenate str (not "int") to str
# This would work in Javscript where it would convert the result to string type

John 40

In [ ]:
age=input('Please enter your age: ')
if(int(age)>=18):
  print('You are allowed to enter the club')
else:
  print('Sorry! You are not allowed!')

Please enter your age: 80
You are allowed to enter the club

In [ ]:
exam_score = input('Enter your exam score: ')
if(int(exam_score) > 90):
  print('You have got grade A+')
elif(int(exam_score) > 80):
  print('You have got grade A')
else:
  print('You have got grade B')

Enter your exam score: 80
You have got grade B

In [ ]:
is_adult = True
is_licensed = True

if(is_adult and is_licensed): ## In JavaScript && is used instead of 'and'
  print('You are allowed to drive')
else:
  print('You are not allowed to drive')

You are allowed to drive

In [ ]:
if(9 > 8):
  print('Such a silly logic. I will get printed')
else:
  print('I will never get printed')
  print('I am not get printed coz I am indented')

# Now without indentation
if(7 > 8):
  print('Such a silly logic. I will get printed')
else:
 print('I will never get printed')
print('I will be printed anyways coz I am not indented')
# The above line gets printed always as interpreter treats it as a new line

Such a silly logic. I will get printed
I will never get printed
I will be printed anyways coz I am not indented

In [ ]:
username = 'a' # bool('santa') => True
password = 'a' # bool('superSecretPassword') => True
if username and password:
  print('Details found')
else:
  print('Not found')

Details found

In [ ]:
is_single = False
message = 'You can date' if is_single else 'you cannot date'
# result = (value 1) if (condition is truthy) else (value 2)
print(message) # You can date

you cannot date

In [ ]:
knows_javascript = False
knows_python = False

if(knows_javascript or knows_python): # doesn't depend on value of knows_python
  print('Javscript or python developer')
else:
  print('Some other developer')

Some other developer

In [ ]:
knows_javascript = False
knows_python = True

if(knows_javascript and knows_python): # doesn't depend on value of knows_python
  print('Javscript or python developer')
else:
  print('Some other developer')

Some other developer

In [ ]:
#logical operators
print(10 > 100) # False
print(10 < 100) # True
print(10 == 10) # True
print(10 != 50) # True
print(2 > 1 and 2 > 0) # True
print(not(True)) # False
print(not False) # True

False
True
True
True
True
False
True

In [ ]:
#some quirky operations
print(True == True) #True
print('' == 1) # False
print([] == 1) # False
print(10 == 10.0) # True
print([] == []) # True

True
False
False
True
True

In [ ]:
print(True is True) # True
print('' is 1) # False
print([] is 1) # False
print(10 is 10.0) # False
print([] is []) # False

True
False
False
False
False

In [ ]:
for item in 'Python': # String is iterable
  print(item) # prints all characters of the string

P
y
t
h
o
n

In [ ]:
for item in [1,2,3,4,5]: # List is iterable
    print(item) # prints all numbers one at a time

1
2
3
4
5

In [ ]:
for item in {1,2,3,4,5}: # Set is iterable
    print(item)

1
2
3
4
5

In [ ]:
for item in (1,2,3,4,5): # Tuple is iterable
    print(item)

1
2
3
4
5

In [ ]:
#Iterable
player = {
  'firstname': 'Virat',
  'lastname': 'Kohli',
  'role': 'captain'
}

for item in player: # iterates over the keys of player
  print(item) # prints all keys

firstname
lastname
role

In [ ]:
player = {
  'firstname': 'Virat',
  'lastname': 'Kohli',
  'role': 'captain'
}
for item in player.keys(): 
  print(item) # prints all keys

firstname
lastname
role

In [ ]:
player = {
  'firstname': 'Virat',
  'lastname': 'Kohli',
  'role': 'captain'
}
for item in player.values():
  print(item) # prints all values

Virat
Kohli
captain

In [ ]:
player = {
  'firstname': 'Virat',
  'lastname': 'Kohli',
  'role': 'captain'
}
for item in player.items():
  print(item) # prints key and value as tuple

('firstname', 'Virat')
('lastname', 'Kohli')
('role', 'captain')

In [ ]:
player = {
  'firstname': 'Virat',
  'lastname': 'Kohli',
  'role': 'captain'
}
for key, value in player.items():
  print(key, value) # prints key and value using unpacking

firstname Virat
lastname Kohli
role captain

In [ ]:
#range
for item in range(10):
  print('python', item) # prints python 10 times

python 0
python 1
python 2
python 3
python 4
python 5
python 6
python 7
python 8
python 9

In [ ]:
for item in range(0,10,1):
    print('hello',item) # prints hello 10 times

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [ ]:
for item in range(0, 10, 2):
    print('hii', item) # prints hii 5 times

hii 0
hii 2
hii 4
hii 6
hii 8

In [ ]:
for item in range(10, 0, -1):
    print(item) # prints in reverse order

10
9
8
7
6
5
4
3
2
1

In [ ]:
print(list(range(10))) # generates a list of 10 items

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#enumerate(numaralandırmak)
for key, value in enumerate(range(10)): # using unpacking techique 
  print(f'key is {key} and value is {value}') # prints key and value at the same time

key is 0 and value is 0
key is 1 and value is 1
key is 2 and value is 2
key is 3 and value is 3
key is 4 and value is 4
key is 5 and value is 5
key is 6 and value is 6
key is 7 and value is 7
key is 8 and value is 8
key is 9 and value is 9